.form{
    background-image: url("../../img/email/casa.jpg");
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns:65% 35%;
}

.form .columna{
    padding-top: 80px;
    padding-left: 50px;
    color: white;
}

.columna h3{
    font-size: 30px;
}

.columna span{
    font-size: 16px;
}

.columnad{
    margin-top: 25px;
}
.columnad a{
    font-size: 14px;
    color: white;
    padding: 10px 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}